<div class="main-content">
    <div class="container-fluid">
        <app-accountsform [cardTitle]="createCardTitle"></app-accountsform>
        <div class="row">
            <div class="col-md-7">
                <app-sortedtable [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-sortedtable>
            </div>
            <div class="col-md-5">
                <app-accountsform [cardTitle]="editCardTitle"></app-accountsform>
            </div>
        </div>
    </div>
</div>