<div class="main-content">
    <div class="container-fluid">
        <app-contactsform [cardTitle]="createCardTitle" [contactForm]="contactForm"></app-contactsform>
        <div class="row">
            <div class="col-md-4">
                <app-sortedtable [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"></app-sortedtable>
            </div>
            <div class="col-md-8">
                <app-contactsform [cardTitle]="editCardTitle"></app-contactsform>
            </div>
        </div>
    </div>
</div>