#websiteViewsChart{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 350px;
    font-family: Lato, Helvetica-Neue, monospace;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke:  #c2f50c;
  stroke-width: 30;
}
.ct-series-b .ct-bar {
  /* Colour of your bars */
  stroke:  #00a79d;
  stroke-width: 30;
}

.ct-label {
  color: white;
}

.ct-chart {
    position: relative;
}