<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <h4 class="card-title">Account Balances</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                    <app-md-table
                                    [data]="tableData">
                                </app-md-table>
                            </div>
                            <div class="col-md-6 ml-auto mr-auto">
                                    <div class="ct-chart" id="simpleBarChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Revenue/Expense</h4>
                    <!-- <p class="card-category">Last Campaign Performance</p> -->
                </div>
                <div class="card-footer">
                    <!-- <div class="stats">
                            <i class="material-icons">access_time</i> last updated days ago
                        </div> -->
                </div>
            </div>
        </div>
    </div>

</div>