<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-7">
        <div class="card">

          <div class="card-header card-header-custom">
            <h4 class="card-title">Sales List</h4>
          </div>
          <div class="card-body">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <div class="mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-raised-button type="button" matTooltip="Edit Sale" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon"
                      (click)="editSaleItem(element);">
                      <i class="material-icons">visibility</i>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-custom">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-pills nav-pills-warning" role="tablist">
                  <li class="nav-item">
                    <a mat-button class="nav-link  active show" style="color:black !important" href="#addSale" data-toggle="tab">
                      <i class="mat-icon material-icons">add</i> New Sale
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" style="color:black !important" href="#editSale" data-toggle="tab">
                      <i class="mat-icon material-icons">visibility</i> View Sale
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="tab-content">
              <div class="tab-pane" id="editSale">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <span>Product Type:</span> {{productObj.type}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span>Product Name:</span> {{productObj.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span>Product Price:</span> {{productObj.price}}
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane active" id="addSale">
                <form class="sale-form" name="form" [formGroup]="salesForm" (ngSubmit)="onFormSubmit(salesForm.value)">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-radio-group formControlName="personType">
                        <mat-radio-button value="vendor">Vendor ?</mat-radio-button>&nbsp;
                        <mat-radio-button value="customer">Customer ?</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Vendors/Customer" formControlName="personTypeValue">
                          <mat-option *ngFor="let vendor of vendors" [value]="vendor.value">
                            {{vendor.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <!-- <button mat-raised-button type="button" matTooltip="Add New Product" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="addNewProduct();">                              
                              <i class="mat-icon material-icons">add</i> Add New Line Item                             
                          </button>                          
                          <div class="ripple-container"></div> -->
                      <button class="btn btn-success" (click)="addNewProduct();">
                        <i class="fa fa-plus"></i> Add New Line Item
                        <div class="ripple-container"></div>
                      </button>
                    </div>
                  </div>
                  <ng-container formArrayName="productInfo" *ngFor="let productItem of salesForm.controls.productInfo.controls;let i = index">
                    <div class="row" [formGroupName]="i">
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Product Type" formControlName="type">
                            <mat-option *ngFor="let student of students" [value]="student.value">
                              {{student.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Product Name" type="text" formControlName="name">{{productItem.name}}
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Price" type="text" formControlName="price">{{productItem.price}}
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Quantity" type="text" formControlName="quantity">
                        </mat-form-field>
                      </div>
                      <div class="col-md-1">
                        <button mat-raised-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                          (click)="removeProduct(i);">
                          <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tax" type="text" formControlName="tax">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Payment Amount" type="text" formControlName="paymentAmount">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Payment Date" formControlName="paymentDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Credit To" formControlName="creditTo">
                            <mat-option *ngFor="let account of accounts" [value]="account.value">
                              {{account.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Additional Comments</label>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Please add any additional description as needed" formControlName="additionalComments"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <button mat-raised-button type="submit" class="button">Save</button>
                    </div>
                    <div class="col-md-4">
                      <button mat-raised-button type="submit" class="button">Receipt</button>
                    </div>
                    <div class="col-md-4">
                      <button mat-raised-button type="submit" class="button">Cancel</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>