.card-header{
    position: relative;
    border-radius: 3px;
    background: linear-gradient(60deg, #73a5b896, #79aab396);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.678), 0 7px 10px -5px rgba(217, 225, 228, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-header h4{
    font-weight: 400;
    color: rgb(22, 1, 1);
    margin-bottom: 25px;
    margin-top: 5px;
  }
  .card-header p{
    font-weight: 400;
    color: rgb(22, 1, 1);
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .button{
    background: linear-gradient(60deg,  #7796a596, #79aab396);
    color: rgb(22, 1, 1);;
  }