<div class="container">
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"></div>
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"></div>
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form class="passReset-form" name="form" #f="ngForm" novalidate>
                    <div class="card content card-panel">
                        <div class="card-header">
                            <h4>Forgot your password?</h4>
                            
                        </div>
                        <div class="card-form">
                            <div class="form-row">
                                <i class="material-icons">email</i>
                                <mat-input-container color="accent">
                                    <input type="email" matInput placeholder="Enter Email" name="email" [(ngModel)]="model.email" #email="ngModel" />
                                </mat-input-container>
                            </div>
                            <!-- <div class="form-row">
                                <i class="material-icons">lock_outline</i>
                                <mat-input-container color="accent">
                                    <input type="password" matInput placeholder="Confirm Password" name="confirmPass" [(ngModel)]="model.confirmPass" #confirmPass="ngModel" />
                                </mat-input-container>
                            </div> -->
                            
                        </div>
                        <div class="form-row">
                           
                            <button mat-raised-button (click)="resetPassword();" [disabled]="showSuccess">Submit</button>
                            <button mat-raised-button (click)="login();" >Back</button>
                           
                        </div>
                        <div class="fontSuccess" [hidden]="!showSuccess">
                            Check your email for password reset instructions.
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>