.container{
    height: 100%;
    position: relative;
    align-content: center;
    z-index: 1;
    justify-content: center;
  }
  
  .card{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    top: -90px;
    -webkit-animation-name: card;
    -moz-animation-name: card;
    -o-animation-name: card;
    animation-name: card;
    -webkit-animation-duration: 600ms;
    -moz-animation-duration: 600ms;
    -o-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes card {
    from {top: -40px;}
    to {top: 0;}
  }
  
  @keyframes card {
    from {top: -40px;}
    to {top: 0;}
  }
  
  .card-header{
    position: relative;
    overflow: hidden;
    top: -40px;
    width: 100%;
    padding: 25px;
    border-radius: 3px;
    background: linear-gradient(60deg, #78dfec, #79aab396);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.678), 0 7px 10px -5px rgba(217, 225, 228, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-header h4{
    font-weight: 400;
    color: rgb(22, 1, 1);
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .form-row, .card-form, .mat-input-container{
    width: 100%;
  }
  
  .card-form{
    padding: 5px;
  }
  
  .form-row{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 13px;
  }
  
  .form-row i{
    position: relative;
    top: -5px;
    margin-right: 15px;
    color: #555;
  }
  .form-row button{
    margin-left: 40px;
    background: #78dfec;
    color: rgb(22, 1, 1);;
  }

  .footer button{
    background: #78dfec;
    color: rgb(22, 1, 1);;
  }
  
  .card-footer{
    margin: 10px;
  }
  
  .card-footer button{
    color: #0a324996;
    border: #555;
  }

  .fontSuccess{
      font-weight: bold !important;
      color: #4caf50 !important;
  }