
  <div class="content table-responsive">
        <table class="table" *ngIf="data">
          <tbody>
              <tr *ngFor="let row of data.dataRows">
                <td>
                    {{row[0]}}
                </td>
                <td>
                    {{row[1]}}
                </td>
                <td class="text-right">
                    {{row[2] | currency : 'INR':'symbol-narrow':'1.2-2'}}
                </td>
                <td class="text-right">
                    {{row[3]}}
                </td>
              </tr>
          </tbody>
        </table>
    
      </div>
    