<div class="main-content">
    <div class="container-fluid">
        <app-accountsform *ngIf="showBankAccount && isLoaded" [cardTitle]="cardTitle" [accountForm]="accountForm"></app-accountsform>
        <div class="row" *ngIf="!showBankAccount">
            <div class="col-md-12">
                <app-sortedtable [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"
                    [pageOptions]="pageOptions" (onView)="getAccount($event)"></app-sortedtable>
            </div>
        </div>
    </div>
</div>