<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs nav-fill" data-tabs="tabs">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user">
                                            User <div class="ripple-container"></div></a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#role">
                                            Role <div class="ripple-container"></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">{{cardTitle}}</h4>
                        </div>
                    </div> -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="user">
                                <app-usersform [cardTitle]="cardTitle" [userForm]="userForm"></app-usersform>
                            </div>
                            <div class="tab-pane" id="role">
                                <form class="role-form" *ngIf="roleForm" name="form" [formGroup]="roleForm" (ngSubmit)="onFormSubmit(roleForm.value)">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Role Name" formControlName="roleName">
                                            </mat-form-field>
                                            <control-messages [control]="roleForm.controls.roleName"></control-messages>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Description" formControlName="description">
                                            </mat-form-field>
                                            <control-messages [control]="roleForm.controls.description"></control-messages>
                                        </div>
                                    </div>
                                    <app-privileges [privileges]="roleForm.controls.privileges"></app-privileges>
                                    <div class="row">
                                        <div class="col-md-8 ml-3">
                                            <button mat-raised-button type="submit" class="btn btn-success">Save</button>
                                            <button mat-raised-button type="reset" class="btn btn-success">Reset</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>