<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">List</h4>
        </div>
      </div>
      <div class="card-body ">

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <div class="mat-elevation-z8">
          <mat-table #table *ngIf="dataSource" [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
                <div *ngIf="column.sort">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                  </div>
                  <div *ngIf="!column.sort">
                    <mat-header-cell *matHeaderCellDef mat-sort-header disabled>{{ column.header }}</mat-header-cell>
                  </div>
              
              <mat-cell *matCellDef="let row">
                <span *ngIf="column.header!='Actions'" [innerHTML]="column.cell(row)| safe: 'html'" > </span>
                <span *ngIf="column.header=='Actions'"><button  mat-button  color="primary" (click)="delete(row)"><mat-icon>delete</mat-icon>
                </button>  <button  mat-button  color="primary" (click)="edit(row)"><mat-icon>visibility</mat-icon></button> </span>
              </mat-cell>
              
              
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="pageOptions" showFirstLastButtons></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>