<div class="main-content">
    <div class="container-fluid">
        <app-contactsform *ngIf="showContact && isLoaded" [cardTitle]="cardTitle" [contactForm]="contactForm"></app-contactsform>
        <div class="row" *ngIf="!showContact">
            <div class="col-md-12">
                <app-sortedtable [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"
                    [pageOptions]="pageOptions" (onView)="getContact($event)"></app-sortedtable>
            </div>
        </div>
    </div>
</div>