<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs nav-fill" data-tabs="tabs">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user">
                                            User <div class="ripple-container"></div></a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#role">
                                            Role <div class="ripple-container"></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="user">
                                <app-usersform *ngIf="showUser && isLoaded"  [cardTitle]="cardTitle" [userForm]="userForm"></app-usersform>
                                <app-sortedtable  *ngIf="!showUser" [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"
                                    [pageOptions]="pageOptions"  (onView)="getUser($event)"></app-sortedtable>
                            </div>
                            <div class="tab-pane" id="role">
                                    <app-sortedtable [dataSource]="dataSource1" [columns]="columns1" [displayedColumns]="displayedColumns1"
                                    [pageOptions]="pageOptions" ></app-sortedtable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>