<div class="container">
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"></div>
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form class="passReset-form" name="form" #f="ngForm" novalidate>
                    <div class="card content card-panel">
                        <div class="card-header">
                            <h4>Reset Password</h4>
                            
                        </div>
                        <div class="card-form">
                            <div class="form-row">
                                <i class="material-icons">lock_outline</i>
                                <mat-input-container color="accent">
                                    <input type="password" matInput placeholder="New Password" name="newPass" [(ngModel)]="model.newPass" #newPass="ngModel" />
                                </mat-input-container>
                            </div>
                            <div class="form-row">
                                <i class="material-icons">lock_outline</i>
                                <mat-input-container color="accent">
                                    <input type="password" matInput placeholder="Confirm Password" name="confirmPass" [(ngModel)]="model.confirmPass" #confirmPass="ngModel" />
                                </mat-input-container>
                            </div>
                            
                        </div>
                        <div class="footer button">
                           
                            <button mat-raised-button (click)="resetPassword();">Submit</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>